* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  background-color: #DE4BD1;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  list-style: none;


}

.menu a {
  text-decoration: none;
  font-size: 25px;
  padding: 1em;
  display: inline-block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: all 300ms ease-out;
}

.menu a:hover,
.menu a:focus {
  color: #000000;
  background-color: #912A88;

}


/* Color Theme Swatches in Hex */
.UI/UX-1-hex {
  color: #F23078;
}

.UI/UX-2-hex {
  color: #91D7F2;
}

.UI/UX-3-hex {
  color: #57D943;
}

.UI/UX-4-hex {
  color: #F2CB05;
}

.UI/UX-5-hex {
  color: #F25C05;
}