* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(23, 23, 23);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #111111;
  justify-content: space-between;
  position: relative;
  /* top: 0; */
  width: 100%;
}

.navBar ul {
  display: flex;
  align-items: center;
}

.navBar ul li {
  list-style: none;
}

.navBar a {
  text-decoration: none;
  font-size: 20px;
  padding: 1em;
  display: inline-block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.navBar a:hover,
.navBar a:focus {
  transition: all 300ms ease-in-out;
  color: #7e7e7e5d;
  background-color: #161616;
  text-decoration: underline;
  text-decoration-color: #b4b3b35d;
}

.mainEvent {
  padding: 20px;
  display: flex;
  width: 1300px;
  align-items: center;
  flex-direction: column;
  background-color: rgb(226, 224, 224);
  border-radius: 30px;
}

.mainEvent_Header {
  padding: 10px;
}

.mainEvent_Image {}

.mainEvent_Bottom {
  display: flex;
  flex-direction: row;
}

.mainEvent_Data,
.mainEvent_Button {
  display: block;
  justify-content: center;
  align-items: center;
}