*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 1220px;
}

.relatorio-pedido{
    width: 1220px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}